<app-dashboard></app-dashboard>
<h2>Crear Tarea</h2>
<div class="container">
    <form #form="ngForm" (ngSubmit)="addTarea()">
        <div class="mb-3">
            <label for="namTarea" class="form-label">Nombre de la tarea</label>
            <input [(ngModel)]="namTarea" type="text" class="form-control" id="namTarea" name="namTarea" required>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Describa la tarea</label>
            <input [(ngModel)]="descripcion" type="text" class="form-control" id="descripcion" name="descripcion" required>
        </div>
        <div class="mb-3">
            <label for="fecha_creacion" class="form-label">Fecha de creación</label>
            <input [(ngModel)]="fecha_creacion" type="date" class="form-control" id="fecha_creacion" name="fecha_creacion" required>
        </div>
        <button type="submit" class="btn btn-primary">Crear una nueva tarea</button>

        <!-- Mostrar mensaje de error si existe -->
        <div *ngIf="mensaje" class="alert alert-danger" role="alert">
            {{ mensaje }}
          </div>
    </form>
</div>
