<app-dashboard></app-dashboard>
<div class="container">
  <h2>Listas de tareas </h2>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre de la Tarea</th>
          <th scope="col">Fecha de Creacion</th>
          <th scope="col">Descripcion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of tarea">
          <th scope="row">{{t.id}}</th>
          <td>{{t.namTarea}}</td>
          <td>{{t.fecha_creacion}}</td>
          <td>{{t.descripcion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-calendario></app-calendario>