.centered-image {
    display: block; /* Hace que la imagen sea un bloque, lo cual ayuda a centrarla */
    margin-left: auto; /* Centra la imagen horizontalmente */
    margin-right: auto; /* Centra la imagen horizontalmente */
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}