<div class="card text-black">
    <div class="card-header">
        {{titulo}}
    </div>
    <div class="card-body">
            <form >
                <div class="form-group row">
                    <label for=" nomUsuario" class="col-form-label col-sm-2">Nombre de Usuario:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="usuario.nomUsuario" name=" nomUsuario">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-form-label col-sm-2">Email</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="usuario.email" name="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="rol" class="col-form-label col-sm-2">Rol</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="usuario.rol" name="rol">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="contrasenia" class="col-form-label col-sm-2">Contraseña</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" [(ngModel)]="usuario.contrasenia" name="contrasenia">
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!usuario.id else elseBlock">
                            Crear
                        </button>

                        <ng-template #elseBlock>
                            <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
                        </ng-template>

                    </div>
                </div>
            </form>
    </div>
</div>